# IO_JSON_HTML
#### Table of Contents
1. JSON
2. HTML

# JSON

In [ ]:
import pandas as pd

df = pd.read_json('data.json')

print(df.to_string())

## Reading Data from URL/ HTML

In [2]:
import pandas as pd
import requests

In [6]:
url = "https://www.eia.gov/electricity/monthly/epm_table_grapher.php?t=epmt_5_04_a"

df = pd.read_html(url)
print(type(df))

<class 'list'>

In [9]:
df2 = df[1]
df2.head()

        Unnamed: 0_level_0  Residential                Commercial  \
  Census Divisionand State October 2023 October 2022 October 2023
0              New England         3258         3286         3984
1              Connecticut          836          838          936
2                    Maine          346          340          332
3            Massachusetts         1381         1447         1952
4            New Hampshire          318          306          322

                 Industrial              Transportation               \
  October 2022 October 2023 October 2022   October 2023 October 2022
0         3893         1261         1281           36.0         37.0
1          927          228          243           13.0         14.0
2          308          202          215            0.0          0.0
3         1911          505          502           21.0         21.0
4          304          167          161            0.0          0.0

   All Sectors
  October 2023 October 2022
0         8539         8498
1         2014         2022
2          879          864
3         3859         3881
4          806          771

In [12]:
# to select specific headers
url = "https://www.eia.gov/electricity/monthly/epm_table_grapher.php?t=epmt_5_04_a"

df = pd.read_html(url, header=1)
df[1]

,Census Divisionand State,October 2023,October 2022,October 2023.1,October 2022.1,October 2023.2,October 2022.2,October 2023.3,October 2022.3,October 2023.4,October 2022.4
0,New England,3258,3286,3984,3893,1261,1281,36.0,37.0,8539,8498
1,Connecticut,836,838,936,927,228,243,13.0,14.0,2014,2022
2,Maine,346,340,332,308,202,215,0.0,0.0,879,864
3,Massachusetts,1381,1447,1952,1911,505,502,21.0,21.0,3859,3881
4,New Hampshire,318,306,322,304,167,161,0.0,0.0,806,771
...,...,...,...,...,...,...,...,...,...,...,...
57,Washington,2645,2447,2378,2365,1714,1699,7.0,9.0,6745,6520
58,Pacific Noncontiguous,400,408,455,468,428,426,0.0,0.0,1283,1301
59,Alaska,161,159,209,210,119,116,0.0,0.0,489,485
60,Hawaii,239,249,245,258,309,310,0.0,0.0,794,816
61,U.S. Total,103481,99792,115209,111851,85552,85017,606.0,535.0,304849,297196

## Converting Data Formates